.frame126 {
  width: 100%;
  height: 100%;
  background-color: #ffd868;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 100px;
  gap: 100px;
}

.frame126 .column {
  flex: 50% !important;
  max-width: 50%;
}

.frame125 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}

.frame128 .text1 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  color: #721b65;
}

.frame128 .text2 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.frame127 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

.frame104 {
  width: 100%;
  padding: 16px 18px;
  background: #ffffff;
  border-radius: 10px;
}

.frame105 {
  width: 100%;
  padding: 16px 18px;
  background: #721b65;
  border-radius: 10px;
}
